.contacto-contenedor {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.textos-contenedor {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.logo-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.logo-cuadrado {
    width: 70%;
    height: 70%;
}

.subtitulo-texto {
    font-size: 0.9rem;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.lista {
    margin: 5px 0;
}

.margin-top {
    margin-top: 20px;
}

@media screen and (min-width: 1024px) {
    .contacto-contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }

    .logo-cuadrado {
        width: 100%;
        height: 100%;
    }

    .textos-contenedor {
        margin-top: 0;
    }
}