.barra-categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #FDD5D8;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    margin: 40px 20px 20px 20px;
}

.categoria-texto {
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: #5E3F43;
        color: #fff;
    }
}

.textos-contenedor {
    padding: 20px;
}

.descripcion {
    margin: 10px 0;
}

.texto-ayuda-item {
    margin: 10px 0;
}

@media screen and (min-width: 768px) {
    .barra-categorias {
        flex-direction: row;
        gap: 40px;
        border-radius: 20px;
    }

    .categoria-texto {
        width: fit-content;
        margin-right: 10px;

        &:hover {
            border-radius: 10px;
        }
    }
}